/*顶部nav的背景颜色*/
.md .city-details-header {
  .city-details-bg {
    div {
      background-color: #fff;
    }
    .hidden {
      visibility: hidden;
    }
    .back-default {
      font-size: 2rem;
    }
    .toolbar-title {
      padding-right: 7.2rem;
    }
  }
}

.city-details-header::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: none;
  background-repeat: repeat-x;
  background-position: 0 -2px;
  content: "";
}

